<div class="color-legend" role="note" aria-label="@Shared.ColorLegend_Label">
    <p class="color-legend__title">@Shared.ColorLegend_Title</p>
    <span class="color-legend__item">
        <span class="color-legend__dot color-legend__dot--urgent" aria-hidden="true"></span>
        @Shared.Priority_High
    </span>
    <span class="color-legend__item">
        <span class="color-legend__dot color-legend__dot--medium" aria-hidden="true"></span>
        @Shared.Priority_Medium
    </span>
    <span class="color-legend__item">
        <span class="color-legend__dot color-legend__dot--easy" aria-hidden="true"></span>
        @Shared.Priority_Low
    </span>
    <span class="color-legend__item">
        <span class="color-legend__dot color-legend__dot--done" aria-hidden="true"></span>
        @Shared.Status_Done
    </span>
    <span class="color-legend__item">
        <span class="color-legend__dot color-legend__dot--overdue" aria-hidden="true"></span>
        @Shared.ColorLegend_Overdue
    </span>
</div>
