@model ErrorViewModel
@{
    ViewData["Title"] = Shared.Error_Page_Title;
}

<h1 class="text-danger">@Shared.Error_Title</h1>
<h2 class="text-danger">@Shared.Error_Message</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Shared.Error_RequestId</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Shared.Error_Development_Mode</h3>
<p>@Html.Raw(Shared.Error_Development_Text1)</p>
<p>@Html.Raw(Shared.Error_Development_Text2)</p>
